@import "color";

@media (max-width: 1199px) {
    .nav-web, .nav-web ul, .title-web, .services-img-web, .reseaux-img-web,
    .hebergement-img-web, .cables-img-web, .web-img{
        display: none;
    }

body{
    font-family: 'Ubuntu';
    margin: 0;
    
}

// =========================== NAVIGATEUR =========================== //

.nav-web{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    background-color: white;

    .nav-logo{
        width: 150px;
        margin: 0;
    }
    .burger-mobile{
        width: 30px;
        margin: 0;
    }
    .modal-burger{
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        z-index: 9999;
        width: 30%;
        height: 300px;
        background-color: $white;

        ul{
            display: block;
            padding-left: 0;
            margin: 0;
            li{
                    padding: 20px 5px;
                    list-style: none;
                    font-size: 0.8em;
                    text-align: center;
                    a{
                        text-decoration: none;
                        color: $black;
                    }
                    a:hover{
                        color: $red;
                    }
                }
        }

    }
    .modal-burger-open{
        display:block;
    }
}
.section{
    padding: 10px;
    h1{
        padding-top: 80px;
        text-align: center;
        font-size: 30px;
        font-weight: lighter;
        text-transform: uppercase;
    }
    h2{
        font-size: 30px;
        font-weight: lighter;
        color: $red;
        padding: 20px 0px;
    }
}
// =========================== Footer =========================== //

footer{
    background: $black;
    background: linear-gradient(0deg, $black 23%, $red 100%);
    margin-top: 60px;

    .social-footer{
        display: flex;
        justify-content: center;
        gap: 120px;
    }

    img{
        width: 50px;
        padding-top: 20px;
    }

    ul{
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    li{
        list-style: none;
        text-align: center;
        display: inline;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    a{
        color: white;
        text-decoration: none;
        transition: color 1s;
    }

    a:hover{
        color: $gray;
        transition: 1s;
    }

    p{
        color: $white;
        margin: 0;
        text-align: center;
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
}
}